<% right_column %>

<% content_for :main do %>
  <h1>Browser</h1>

  <div id="browser">	
    <ul class="tree" id="folder_<%= @category.id %>">
    </ul>
  </div>

  <script>
    $(document).ready(function() {
      tree_open_folder(<%= @category.id %>, true);
    });
  </script>
<% end %>
