- content_for :main do
  
  %h1.calendar_icon Calendar Entry

  = icon_to "Calendars", "/admin/calendars"

  = gnric_calendar_entry_add(params[:calendar_id], {:success=>"/admin/calendars/#{params[:calendar_id]}"})

