- content_for :main do 

  %h1.calendar_icon Tickets Sold for #{@calendar_entry.name}

  .div(style="margin: 10px 0;")
    = icon_to "Calendar Entry", "/admin/calendar_entries/#{@calendar_entry.id}"

  = module_gnric_list_tickets(@calendar_entry, :only_sale_id=>params[:sales_id])

