- if @form
  - if @sub || @form.public_creatable==1 || (current_user && @form.user_creatable==1)
    - if @form.html.not_blank?
      = @form.html.html_safe
    - else
      = gnric_render(:partial=>"form/show", :locals=>{:form=>@form, :show_title=>true, :show_body=>true, :submission=>@sub}) 
  - else
    - if @form.user_creatable==1
      You need to
      = link_to "sign in", "/users/sign_in"
- else
  Form Missing


