<h1>Creating content</h1>
	<h2>Step by step instructions</h2>
	<p>There are two ways to being creating content, you may identify the category you want to create your content in first or you may jump directly to creating an article.</p>
	<h3>Step 1</h3>
	<p>Browse to the category you wish your article or web page.</p>
	<p><img src="/images/tc/db/browse-category.png" alt=""/></p>
	<h3>Step 2</h3>
	<p>Identify the category from your existing site architecture (or create a new category) and click to create article.</p>
	<p><img src="/images/tc/db/categories.png" alt=""/></p>
	<h3>Step 3 - The Article info page</h3>
	<p><img src="/images/tc/db/article-info.png" alt=""></p>
	<ul>
		<li>Title - Enter the title you wish to appear on the page. Note this will automatically be made into your H1 tag and style.</li>
		<li>Name - Enter the file name you wish to appear within the site architecture. This determines the url of the web page. Note this defaults to a file name version of the title but can be changed manually.</li>
		<li>Page template - select the layout required for the page.</li>
		<li>Tags - Optionally enter descriptive words separated by a comma to aid searching and categorising</li>
		<li>Status - Set the <a href="/db/publishing-status">publishing status</a> for the page. Note this can be updated later.</li>
		<li>Meta description - Enter a brief description of the page to be created. This is for search engine optimisation purposes and is entirely optional.</li>
		<li>Meta keywords - If desired enter some keywords that illustrate the content of the page. Again this is for search engine optimisation purposes if required.</li> 
		</ul>
		<p>Click Create Article.</p>
		
		<h3>Step 4 - Editing in place</h3>
		<p>You have created your page and now may edit it at will. The edit in place function allows you to directly interact with the page. Simply click on the area you wish to edit and begin typing. Double clicking will bring up a <a href="/db/editor-helper">editor helper</a> which you may use to add images or other media, adjust the styling or view the html source code.</p>
		<p>Changes will autosave every couple of minutes and revisions to the pages are kept and may be accessed on the <a href="/db/editing-content">via the editor menu.</a></p>
		<p></p>
	<br/>
	<p><a href="/db/help">return to help index</a></p>
		<br/>