	<h1>The Dashboard</h1>
	<p>The dashboard is the Gnric homepage and the central hub of content and community management.</p>
	<img src="/images/tc/db/dashboard.png" alt="">
	<h2>Recent items</h2>
	<p>Recent pages displays the most recently created content. Each page is displayed as a link and which allows editing in place if followed. 'Show more' allows you to see a comprehensive history of the pages created and to filter that list by their status or by searching for their tags or filename. For more information about page status please refer to the <a href="/db/publishing-status">publishing status</a> help document.</p>
	<p>Recent forum posts displays the most recent forum posts at a glance allowing moderators quick access to active threads and to management of individual posts.</p>
	<h2>To Do</h2>
	<p>Shared to do list. Any individual granted access to the system may add an item to the list and mark it completed. Typing directly into the box and clicking add will add your item to the list.
		<p><img src="/images/tc/db/to-do.png" alt=""/></p>
	<p>To mark an item as complete, simply click on the item and it will be struck through. This action is saved and the item will disappear from the list upon navigation away from the page. The action can be undone while you remain on the page.</p> 
	<h2>Menu items</h2>
	<ul>
		<li>Site - Main pages of the live site, including the home page and the forum</li>
		<li>Content - Primary access to your Content Management System. See <a href="/db/creating-content">creating content</a> and <a href="/db/editing-content">editing content</a> for further details.</li>
		<li>Resources - Image and other file uploads browsing facility. Allows bulk operations of tagging and individual searching of filenames and tags. Blocks for site search and social network integration may also be accessed here. Note: editing these requires understanding of html and should only be attempted by a skilled practitioner.</li>
		<li>Users - Central point for user management</li>
		<li>System - Internal forums private to the admin and editing team and access to personal account details.</li>
		</ul>
<br/>
<p><a href="/db/help">return to index</a></p>
	<br/>