<h1>Page Component Definitions</h1>

<ul>
  <li>A <b>Page</b> consists of a...</li>
  <li><b>Layout</b> (which references <b>a Stylesheet</b>)</li>
  <li>which has a...</li>
  <li><b>Template</b></li>
  <li>which is made up of...</li>
  <li><b>Content</b> (text, formatted with HTML) and/or...</li>
  <li><b>Fields</b> (in to which a user can enter content and/or <b>Blocks</b>) and/or... </li>
  <li><b>Editable Blocks</b> (which have parameters which the user can set when they edit the page on which this editable block appears) and/or...</li>
  <li><b>Block Instances</b> (which have parameters which can be edited in the Dashboard, which are then shared across pages)</li>
  <li><b>Modules</b> 
</ul>


<ul>
  <li>A <b>Field</b> is an editable region on a page and can be a...</li>
  <li><b>text</b> field or a</li>
  <li><b>line</b> field.</li>
</ul>

<ul>
  <li>A <b>Block</b> is a reuseable part of a page which can contain...</li>
  <li><b>Content</b> (text, formatted with HTML) and/or</li>
  <li><b>Modules</b> (pre-built functionality) and/or</li>
  <li><b>Parameters</b> (options which the user will fill in, with defaults)</li>
</ul>

<ul>
  <li>A <b>Block Instance</b> contains a...</li>
  <li><b>Block</b> complete with...</li>
  <li><b>Parameter Values</b> (set at the time of creation)</li>
</ul>

<ul>
  <li>A <b>Module</b> is a snippet of code which provides functionality such as...</li>
  <li><b>Map</b> or...</li>
  <li><b>Form</b> or...</li>
  <li><b>Gallery</b> or...</li>
  <li><b>Reuseable Snippet</b> etc</li>
</ul>

