<h1>Editing content</h1>
<img src="/images/tc/db/quicktip-edit.png"  align="right"/>
	<h2>The 'In place Editor'</h2>
	<p>Gnric enables dynamic interactive in place editing.</p>
	<p>Once logged in simply browse to the page you wish to edit and enter edit mode. There are a number of ways you can do this. If you have arrived at the page from the Gnric dashboard then you will be in edit mode automatically. If you have arrived by browsing the live site then you may choose to edit the page by altering the url. Adding ?edit=1 onto the end of any of your webpages will bring you into the edit mode.</p>
	<p>Whenever you are using the in place editor you will see the Gnric menu bar across the top of the page and the pink flash to highlight actions. While you are editing the flash will display "editing" and let you know when a save has been completed.</p>
	<p>Double clicking in any editable region will bring up the editor helper which contains all the standard word processing options, a full list of which can be found in the <a href="/db/editor-helper">editor helper</a> article</p>
	<p>Previous versions of pages are stored on the Gnric system so you may review these and publish a previous version if you need to.</p>
	<p>To access and view previous versions, follow the 'info' link on the edit menu in the top right of the page.</p>
	<h2>The Edit menu</h2>
	<p><img src="/images/tc/db/edit-menu.png" /></p>
	<p><b>User View</b> - This allows you to see the page as a user would, without the Gnric menu or placeholder text.</p>
	<p><b>Edit info</b> - The edit info page will allow you to alter the status of a page, to adjust or add the meta elements and any of the editable regions in raw html</p>
	<p><b>Info</b> - The info page shows you all the information about that page, it is also where you amy write notes to other editors for them to review and where you may see the history of the page and publish an earlier version if you wish.</p>
	<p><b>Index</b> - The index link will take you directly to your site architecture page where you may access the pages in a tree-like structure.</p>
	<p><b>Edit:areas</b> - Beneath these main options are the edit area links, by clicking on any of these you can go to each editable region on the page.</p>
		<p></p>
	<br/>
	<p><a href="/db/help">return to help index</a></p>
		<br/>