<h1>Editor Helper</h1>
<p></p>

<p><img src="/images/tc/db/editor-helper.png" /></p>
<p>The editor helper can be used to style and format content and to upload and edit links, images and media. The buttons included are standard to most wysiwyg editors and word processing software. Some more unusual ones are detailed below. The function of all of the buttons can be found by hovering over the icon.</p>
<img align="left" src="/images/tc/db/editor-helper1.png" />
<h2><ul>
	<li>find and replace</li><br/>
	<li>toggle invisible elements</li><br/>
	<li>show visual control characters</li><br/>
	<li>clean up code</li><br/>
	<li>remove formatting</li><br/>
	<li>toggle fullscreen</li><br/>
	<li>edit source code</li><br/>
	<li>insert a link</li><br/>
	<li>insert an image</li><br/>
	<li>embed media</li><br/>
	<li>insert special character</li><br/>
	<li>insert predefined template</li><br/>
	<li>insert anchor</li><br/>	
	</ul>
	</h2>
<br/><br/>
<p><a href="/db/help">return to index</a></p>
	<br/>