<h1>Forum moderation</h1>
<p>	All logged in users may report a post as inappropriate by clicking the report post link. This sends a notification to the community management team.</p>

<p>Moderators have additional privileges to regular users and may edit content within the forums. For moderators, the IP address of the user is always shown in order to allow quick identification of trolling.</p>
	
<h2>Topic comments</h2>
<p>At the top and bottom of each topic and thread within a topic there is an editable region. Here text may be entered by moderators, commonly this area is used for describing the topic or giving guidelines to appropriate content or legal disclaimers.</p> 	
<h2>Deleting a thread</h2>
<p>Threads can be deleted by any moderator by clicking the link, it is important to note that threads may also be 'undeleted'. When a thread is deleted it is no longer visible to regular users.</p>
<h2>Locking a thread</h2>
<p>There are scenarios when moderators may wish a thread to remain on site but for no more comments to be added to it. In this case a moderator can 'lock' a thread. Users will still be able to view the thread but not to make any additional posts.</p>
<h2>Post moderation</h2>
<p>Posts may be deleted or edited. When a deletion or edit happens the action is logged and the moderator can optionally add their own private comment viewable only to other moderators.</p>
<p><img src="/images/tc/db/edit-post.png" /></p>
<p><img src="/images/tc/db/mod-comments.png" /></p>
<p>A post on a thread may also be linked to directly. By clicking 'link' the exact position of the post within the thread is copied to a moderator's clipboard and they may use that to send to other moderators.</p> 
	<br/>
	<p><a href="/db/help">return to index</a></p>
		<br/>