	<h1>Getting Started</h1>
	<h2>Logging into your account</h2>
	<p>Enter your email and password. If you forget your password, use the password recovery link at the bottom of the log in page.</p>
	<img src="/images/tc/db/logging-in.png" alt="">
	<h2>Changing your password</h2>
	<p>Follow the 'My Account' link and enter a new password in the boxes provided. Note, you will need to enter your existing password to confirm the change.</p>
	<img src="/images/tc/db/change-password.png" alt="">
	<br/>
	<p><a href="/db/help">return to index</a></p>
		<br/>