<h1>Image sizes</h1>

<h2>Home pages</h2>
<p>The top section of these pages is usually styled with a large picture on the left with some text to the right. Beneath this in the main body of the page, there is usually a small thumbnail picture and some text to the right with a title above.<p>

<h2>Article pages</h2>
<p>These are similar to the home pages in the top section but the main body tends to be more text focused with pictures to illustrate the article.</p>

<p><b>Top section pictures - 350x250 px works well.</b></p>
<p>Exceeding 350px may break the layout. If a wider picture is desired, for example stretching across width of top section then delete content of "image teaser", this will allow "quote & summary" to become left aligned. Then insert wider picture into "quote" section.</p>
<p><b>Thumbnails - 150x100px works well.</b></p>
<p><b>Main article pictures - 250px.</b> This makes a reasonably medium sized picture in your main body text.</p>

<h2>Leaderboard</h2>
<p>The space for the leaderboard is: 560 x 70 px. However, a standard banner size is 468 x 60 so you may find advertisers prefer to give you creatives in that size. The standard banner will fit well into the leaderboard space.</p>
<p><i>NB, advertising creatives (graphics) are best delivered in .png, .gif or .jpg.</i></p>
