<h1>Inserting a link</h1>
<p>Links can be inserted into editable regions using the editor helper.</p>
<p>Clicking the insert link icon brings up the insert image pop up, here there are three ways to enter a url to create an on page link.</p>
<p><img src="/images/tc/db/insert-link.png" /></p>
<h2>Entering a link manually</h2>
<p>The default tab is for manual entry and to enter additional details about your link. To link to external websites enter the web address in the URL box.</p>

<h2>Linking to an existing internal page</h2>
<p>Existing pages can be linked to by browsing to the correct category and article. The search feature can also be used to identify a page via a name or tag. Selecting a page will bring you back to the Link details.</p>
<h2>Linking to a file</h2>
<p>Resources such as pdfs may also be linked to within a page. The 'link to file' tab will allow searches of existing resources and new resources to be uploaded.</p>
<h2>Customising a link</h2>
<p>Once a link has been selected it must be given anchor text. This is the text that a user will click on. Optionally a title may also be entered which will be visible to users when they hover over the link.</p>

<br/>
<p><a href="/db/help">return to index</a></p>
	<br/>