<h1>Inserting an image</h1>
<p>Images can be inserted into editable regions using the editor helper.</p>
<p>Clicking the insert image icon brings up the insert image pop up, here there are three ways to choose an image.</p>
<p><img src="/images/tc/db/insert-image.png" /></p>
<h2>Uploading an image</h2>
<p>The default tab is for image uploading. Clicking the 'Choose File' button will take you to your local file system where you may browse to the image you need. Once you have chosen your file you can optionally give it a name and tag it so you can easily find it again later. Additionally you can change the filename if needed. Click upload and you'll be taken to preview your image.</p>
<h2>Browse</h2>
<p>Alternatively, you may browse to find previously uploaded images. You can also search for a name or tag to find the image.</p>
<h2>Recent</h2>
<p>Recently added images are displayed in the 'recent' tab and can be selected directly from there.</p>
<h2>Previewing your image</h2>
<p>Once your image is uploaded and selected you can set the size, add any padding needed and set the alignment wrap.</p>
<p>The size required will depend on the context, however a good rule of thumb is that the smallest is a thumbnail picture. The image will preview when you select a size to allow to make an informed choice. You can always return to adjust the size if needed.</p>
<br/>
<p><a href="/db/help">return to index</a></p>
	<br/>