<h1>Newsletters</h1>
	<h2>Creating a newsletter</h2>
	<p>Newsletters are created by the editorial team within their email clients or webmail accounts. As with any email the content can be composed in either rich text, including html or plain text. The CMS may be used to create the html but it ought to be noted that the html will then need to be edited to remove any dynamic content (for example Twitter feeds).</p> 
	<p>Once the team is happy with the email look and content it must be emailed to the specified newsletter address. This can be any TC owned email address and the 'from' address can be different if wished.</p>
	<p>The completed newsletter will be distributed via email therefore the usual recommendations are applicable.</p> 
	<ul>
		<li>It is inadvisable to use large images as some users' email clients may reject larger emails.</li> 
		<li>Subject lines should be chosen carefully to avoid looking like spam.</li> 
		<li>Dynamic content should be avoided.</li>
	</ul>
	<p>Once the newsletter email is sent to the distribution address it will feed into the system.</p>
	<h3 style="color:red">IMPORTANT</h3>
	<p>You must put the word <b>newsletter</b> in the subject line followed by a colon and a space, then enter the subject line you want to appear.</p>
	<p>An example of a newsletter sent to users with the subject line "News and Events"</p>
	<p><img src="/images/tc/db/subject-line.png" /><p>
	
	<h2>Managing newsletters</h2>
	<p>The Newsletter dashboard shows a list of newsletters received into the system<p>
		<p><img src="/images/tc/db/newsletter-dashboard.png" /></p>
		<p>This provides an overview of the newsletters and their status. Clicking on an individual newsletter provides a more detailed view.</p>
		<p><img src="/images/tc/db/newsletter-details.png" /></p>
		<p>There are several options available on this view. You may send the newsletter to yourself only, to a list of test email address or to the subscribers.</p>
		<p><img src="/images/tc/db/newsletter-send.png" /></p>
	<p>The lists of testers and subscribers can be viewed with the 'show' links. 
	<p><img src="/images/tc/db/newsletter-show.png" /></p>
	<p>Whether a user is subscribed or not can be adjusted within the user management function.</p>
	
	<h2>Checking for newsletters</h2>
	<p>To check whether the system has received any new newsletters click the check button. </p>
	<p><img src="/images/tc/db/check-newsletter.png" alt=""/></p>
	<p>If any new newsletters are available they will appear underneath. Note, newsletters will only appear here when 'new'. To see full list of newsletters available in the system click Back to newsletters.</p>
	<p><img src="/images/tc/db/newsletters-found.png"> 
	<h3>Warnings</h3>
	<p>A warning will show if an untested newsletter is about to be sent direct to subscribers.</p>
	<p>A warning will show if a newsletter has already been sent and is about to be sent again.</p>
	<p>A confirmation prompt will show before newsletters are sent, either in test mode or subscriber mode.</p>
	<h3>Legal requirements</h3>
	<p>It is a legal responsibility to provide an opt-out option for users. This can be in the form of a link to the user's own account page to direct the user to manage their own subscriptions or a contact address to send requests to.<p>
		<p>"You cannot transmit, nor instigate the transmission of any marketing by electronic mail (whether solicited or unsolicited) to any subscriber (whether corporate or individual) where
		a. the identity of the sender has been disguised or concealed; or
		b. a valid address to which the recipient can send an opt-out request has not been provided."</p>
		<a href="http://www.legislation.gov.uk/uksi/2003/2426/made">The Privacy and Electronic Communications (EC Directive) Regulations</a>

	<br/>
	<p><a href="/db/help">return to help index</a></p>
		<br/>