<h1>Publishing Status</h1>
<p>Editors may set one of five statuses for a web page. This allows web pages to be created and collaborated on and reviewed before publishing live to the website.</p>
<p>The five statuses may be moved between at will and only when a page is marked as <b>published</b> will it be visible to regular users.</p>
<p><img src="/images/tc/db/publishing-status.png" /></p>
<h2>Editing</h2>
<p>This is the default status when creating a new web page.</p>
<h2>For review</h2>
<p>Once a page is ready to be considered by other editors you may mark it 'for review'.<p>
<h2>Ready for publication</h2>
<p>There are reasons for delaying the publication of a page to the live site. Marking it ready for publication ensures you know that when you are ready for it to go live - all you need do is publish it.</p>
<h2>Published</h2>
<p>Marking a page as published puts it live on site and allows regular users to view it. <b> Pages are not visible to users unless they are marked as published.</b></p>
<h2>Withdrawn</h2>
<p>If you wish to remove a page from visibility to regular users marking it as withdrawn stores the page and removes it from the live site.</p>	
	<br/>
	<p><a href="/db/help">return to index</a></p>
		<br/>