<h1>Optimising for Search Engines and Users</h1>
<h2>Meta elements</h2>
<p>When creating a new page you have the option to add a meta description and meta keywords</p>
<p>
	<h3>Meta description</h3>
	<p>A meta description is an html attribute that gives a brief explanation of the content of the page. There are commonly used by search engines to provide snippets on search results pages.</p>
	<p>Meta descriptions are primarily useful to encourage click through from search results pages. The content should be descriptive, useful and compelling to maximise the efficacy.</p>
	<p>Ideally the meta description should be around 150 characters in length.</p>
	<h3>Meta keywords</h3>
		<p>This attribute is subject to controversy over its usefulness to search engine optimisation. However should you wish to include keywords relevant to the page you are creating you may do so here.</p>
		<p>It is strongly recommended that this attribute isn't 'over-stuffed' with keywords, a brief set of relevant words is sufficient.</p>
		<h2>Title tags</h2>
			<p>The text entered into the 'Title' box will appear in the user's browser bar. It also provides a headline to display in search results.</p>
			<p>We display the title tag in the main page as the main heading for the article as a default but this can be altered if required using the edit menu in the top right.</p>
	<br/>
	<p><a href="/db/help">return to index</a></p>
		<br/>