<h1>Website structure</h1>

<p>Once you're comfortable creating articles it is time to consider how you will structure your website. Website structure refers simply to the framework in which your content is presented and how you might best group your articles.</p>

<p>Each web page or 'article' created needs to be linked to in order for users to find them. Users visiting the website need markers and directions to find content that they might find useful or interesting and it is helpful if articles are grouped in a way that makes sense and flows naturally.</p>

<p>There are many approaches to structuring a website but perhaps one of the most common is a home page leading to 'gateway' pages which in turn lead to content pages or articles.</p>

<p><img src="/images/tc/db/structure.png" /></p>

<h2>Home Page</h2>

<p>This is the first impression of the website and tells visitors what they can expect about the rest of the site.</p>

<h2>Gateway Pages</h2>

<p>Each of these pages should be filled with compelling and engaging snippets and links to articles on site.</p>

<p><b>Note: it is a good idea not to overload any given page with too many links. If you find you have more articles than can reasonably be linked to on a single Gateway page then it may be time to consider creating a further sub-section to group your content into more manageable bites for your users.</b></p>

<h2>Article Pages</h2>

<p>These form the main content of your website. Every time a new article is created and marked as published remember to let visitors know by linking to it from a relevant Gateway page.</p>

<h2>Editing the Gateway pages</h2>

<p>Each of the six Gateway pages has been already been created and simply needs editing. Their location is /index, so in the case of learning it is www.talkingcranes.com/learning/index.</p>

<p>The layout of the main body of the Gateway pages is controllable in exactly the same way as an article page to adjust the look. You could for example choose to enter a list of multiple images with a brief summary about each article or to highlight an article of the week in the top region. Regardless of how you choose your gateway to look you just need to insert a link to each of your published articles in the category so that users can find the content easily.</p>

<p><a href="/db/insert-link">Advice on inserting a link to an internal page</a>

<p>Quick note: Highlight the text or picture you wish to turn into a link and click the link button. From the insert link pop up browse to the article you need and select it. Click insert.</p>

<p>Repeat these steps to create a Gateway page with lots of links to rich content.</p>

<br/>
<p><a href="/db/help">return to index</a></p>
	<br/>