<h1>User management</h1>
<p>A list of all users can be accessed and searched using the user management page.</p>
<p>Clicking on any user's email address will bring up information about that user including the number of times they have signed in, their IP address and how long they have been registered.</p>
<p><img src="/images/tc/db/user-management.png" /></p>
<p>Admin may also log in as that user and ban a user. Note: if a user is banned they can be 'unbanned'.</p>

	<br/>
	<p><a href="/db/help">return to index</a></p>
		<br/>
