
div#calendar.mini {
  width: 224px !important;
}

div#calendar.full {
  width: 600px;
}


div#calendar .clear {
  clear: both;
}

div#calendar.full .header {
  font-size: 30px;
  margin-bottom: 15px;
}

div#calendar.mini .header {
  font-size: 14px;
}

div#calendar .header {
  width: 100%;
}

div#calendar .header a {
  text-decoration: none;

}
div#calendar .header div.previous {
  float: left;
  width: 33%;
}
div#calendar .header div.month {
  float: left;
  text-align: center;
  width: 33%;
}
div#calendar .header div.next {
  float: left;
  width: 33%;
  text-align: right;
}

div#calendar .header div.months {
  display: block;
}

div#calendar .filters div {
  float: left;
  font-size: 12px;
}

div#calendar select, div#calendar input {
  font-size: 24px;
  margin-right: 20px;
}

div#calendar.full .postcode input {
  width: 50px;
}

div#calendar.full .postcode input, div#calendar.full .postcode select {
  font-size: 12px;
}

#calendar.mini .grid {
  width: 224px;
}

#calendar .details h2 {
  margin-top: 20px;
  font-size: 20px;
}

#calendar .details h3 {
  text-align: left;
  font-weight: bold;
}

#calendar .details ul li {
  margin: 10px 0;
}

#calendar .details ul li.highlight {
  background-color: yellow;
}

#calendar .today {
  background-color: #eee !important;
}

#calendar .selected {
  border: 1px red solid !important;
  background-color: rgba(255,0,0,.10) !important;
}

#calendar.mini .today {
  color: red;
}

#calendar label {
  display: block;
  font-size: 16px;
  margin: 10px 0;
}

#calendar .filters div.type {
  width: 100%;
}

#calendar .filters div.type div.left {
  float: left;
  width: 300px;
}

#calendar .filters div.type div.right {
  float: right; 
  margin-top: 30px;
  margin-right: 50px;
}

#calendar .filters div.location {
  margin: 10px 0 20px 0;
  width: 100%;
}

#calendar .filters div.location div.postcode, #calendar .filters div.location div.region {
  border: thin #ddd solid;
  padding: 10px 0 10px 10px;
  width: 40%;
}

#calendar .filters div.location div.region {
  margin-left: 20px;
}

#calendar .filters div.location div  div.go, #calendar .filters div.location div.subarea {
  width: 100%;
  text-align: right;
  margin-right: 10px;
}

div#calendar table {
  text-align: center;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 2px black solid !important;
  overflow: hidden;
}
 
div#calendar th, div#calendar td {
  border: 1px solid black;
  overflow: hidden;
}

div#calendar table.full {
  width: 590px;
  font-size: 12px;
}

div#calendar table.mini {
  width: 224px;
  font-size: 10px;
}

div#calendar table.full th {
  font-weight: bold;
  text-align: center;
  height: 24px;
}

div#calendar table.full td {
  height: 74px;
  text-align: left;
  vertical-align: top;
}

div#calendar table.full td, div#calendar table.full th {
  width: 74px;
  padding: 5px;
}

div#calendar table td.pad {
  background-color: #DDD;
}

div#calendar table.full td div {
  margin: 0;
}

div#calendar table.full td p {
  line-height: 14px;
  margin: 0;
}

div#calendar table.full td.today {
  background-color: #eee !important;
}
