
div#calendar.mini {
  width: 224px !important;
}

div#calendar.full {
  width: 600px;
}


div#calendar .clear {
  clear: both;
}

div#calendar.full .header {
  font-size: 30px;
}

div#calendar.mini .header {
  font-size: 14px;
}

div#calendar .header {
  width: 100%;
}

div#calendar .header a {
  text-decoration: none;

}
div#calendar .header div.previous {
  float: left;
  width: 33%;
}
div#calendar .header div.month {
  float: left;
  text-align: center;
  width: 33%;
}
div#calendar .header div.next {
  float: left;
  width: 33%;
  text-align: right;
}

div#calendar .header div.months {
  display: block;
}
div#calendar  ol {
  list-style-type: none;
}

div#calendar .filters div {
  float: left;
  font-size: 12px;
}

div#calendar select, div#calendar input {
  font-size: 24px;
  margin-right: 20px;
}

div#calendar.full .postcode input {
  width: 50px;
}

div#calendar.full .postcode input, div#calendar.full .postcode select {
  font-size: 12px;
}

#calendar.full .grid {
  width: 588px;
}

#calendar.mini .grid {
  width: 224px;
}

#calendar .grid {
   margin: 0;
   padding: 0;
   border: 2px solid #333;
   background-color: #ddd; }

#calendar ol.grid {
}

#calendar .titles {
  width: 100%;
  margin: 0;
  padding: 0;
}

#calendar .titles li {
  width: 74px;
  padding: 5px 5px 0 5px;
  float: left;
  font-size: 12px;
  text-align: center;
}

#calendar .grid li {
   list-style-position: inside;
   font-weight: bold;
   border: 1px solid #999;
   float: left; 
   background-color: #fff; 
   padding: 5px;
   overflow: hidden;
  font-size: 12px;
 }

 #calendar.full .grid li {
   width: 72px;
   height: 72px;
 }

 #calendar.mini .grid li {
   width: 20px;
   height: 20px;
 }

 #calendar .grid li div {
   margin-top: 5px;
  }

#calendar .grid li p {
   list-style: none;
   font-weight: normal;
   float: none;
   border: none;
   padding: 0;
   margin: 0;
   overflow: hidden;
   white-space:nowrap;
}

#calendar.full .grid li.monday {
   margin-left: 0; }
#calendar.full .grid li.tuesday {
   margin-left: 84px; }
#calendar.full .grid li.wednesday {
   margin-left: 168px; }
#calendar.full .grid li.thursday {
   margin-left: 252px; }
#calendar.full .grid li.friday {
   margin-left: 336px; }
#calendar.full .grid li.saturday {
   margin-left: 420px; }
#calendar.full .grid li.sunday {
   margin-left: 504px; }

#calendar.mini .grid li.monday {
   margin-left: 0; }
#calendar.mini .grid li.tuesday {
   margin-left: 32px; }
#calendar.mini .grid li.wednesday {
   margin-left: 64px; }
#calendar.mini .grid li.thursday {
   margin-left: 96px; }
#calendar.mini .grid li.friday {
   margin-left: 128px; }
#calendar.mini .grid li.saturday {
   margin-left: 160px; }
#calendar.mini .grid li.sunday {
   margin-left: 192px; }


#calendar .details h2 {
  margin-top: 20px;
  font-size: 20px;
}

#calendar .details h3 {
  text-align: left;
  font-weight: bold;
}

#calendar .details ul li {
  margin: 10px 0;
}

#calendar .details ul li.highlight {
  background-color: yellow;
}

#calendar .today {
  background-color: #eee !important;
}

#calendar .selected {
  border: 1px red solid !important;
  background-color: rgba(255,0,0,.10) !important;
}

#calendar.mini .today {
  color: red;
}

#calendar label {
  display: block;
  font-size: 16px;
  margin: 10px 0;
}

#calendar .filters div.type {
  width: 100%;
}

#calendar .filters div.type div.left {
  float: left;
  width: 300px;
}

#calendar .filters div.type div.right {
  float: right; 
  margin-top: 30px;
  margin-right: 50px;
}

#calendar .filters div.location {
  margin: 10px 0 20px 0;
  width: 100%;
}

#calendar .filters div.location div.postcode, #calendar .filters div.location div.region {
  border: thin #ddd solid;
  padding: 10px 0 10px 10px;
  width: 40%;
}

#calendar .filters div.location div.region {
  margin-left: 20px;
}

#calendar .filters div.location div  div.go, #calendar .filters div.location div.subarea {
  width: 100%;
  text-align: right;
  margin-right: 10px;
}

