<% content_for :main do %>
<ul>
<li><%= link_to "Sign In", "/users/sign_in" %></li> 
<li><%= link_to "Sign Out", "/users/sign_out" %></li> 
<li><%= link_to "Edit User", "/users/edit" %></li>
<li><%= link_to "Dashboard", "/db" %></li>
</ul>
<% end %>
