%form(id="mercury_html_editor" style="width:900px;")
  %textarea(class="mercury-display-pane-container" id='edit' )

  .mercury-display-controls
    %fieldset(class="buttons")
      %ol
        %li(class="commit button")
          %input(class="submit" name="commit" type="submit" value="Save and Replace")

%script(type='text/javascript')
  $(document).ready(function() {
  parent.$('#edit').markItUp(parent.editor_settings).css('height', '300px');
  });

