%p
  When not in trial mode, an interactive link browser which looks something like that shown below would appear here, allowing you to browse the tree of documents you have in the system.  

%p
  = image_tag("http://www.dsc.net/system/1/assets/files/000/000/160/160/27b8ec570/original/Screen_Shot_2012-09-24_at_01.04.19.png")

